<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="textarea">
            <name>csvFiles</name>
            <label>Dateien</label>
            <value>https://www.ostermann.de/sync/artikelmin-alle-artikel.csv</value>
            <description>Bitte geben Sie alle .csv Dateien an, die für den Import genutzt werden. Eine .csv Datei pro Zeile. Die Artikelnummer muss in der ersten Spalte stehen. Die erste Zeile wird als Überschrift ignoriert.</description>
        </element>

        <element type="text">
            <name>maxDifference</name>
            <label>Maximale Differenz</label>
            <value>10</value>
            <description>Die maximale Differenz an Artikeln in Prozent zwischen der Anzahl der Artikel innerhalb der .csv Datei(en) und der Anzahl der Artikel im Shop. Falls die Differenz über dem angegebenen Schwellenwert ist, dann wird eine Synchronisation nicht durchgeführt. Das hilft Fehler bei korrupten .csv Dateien zu vermeiden.</description>
        </element>

    </elements>
</config>